################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Patterns/.vs/Patterns/v16/Server/sqlite3
